* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#tituloPrincipal {
  width: 100%;
  color: white;
  padding: 15px;
  background-color: #03879E;
}

#tituloPrincipal,
#subTitulo {
  text-align: center;
  margin-bottom: 20px;
}

.grilla {
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.celda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 30px;
  width: 150px;
  height: 50px;
  border: 1px solid #ccc;
}

.teclado{
  color: black;
}

.teclado:hover{
  cursor: pointer;
  background-color: #ccc;
  
}

.Verde {
  background-color: #00C029;
}

.Amarillo {
  background-color: #FFC300;
}

.Rojo {
  background-color: #C00017;
}

.main {
  margin: 0px auto;
  width: 70%;
  margin-top: 15px;
  margin-bottom: 25px;
}

.main input {
  width: 85%;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.main button {
  height: 70px;
  font-size: 20px;
  padding: 5px;
  color: white;
  font-weight: bold;
  border: none;
  background-color: #03879E;
}


#config,
#juego {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.indicaciones {
  font-weight: bold;
  color: white;
  padding: 10px;
}

footer {
  background-color: black;
  padding: 30px;
  color: white;
  text-align: center;
  margin-top: 30px;
}

/*MODAL*/

.hidden {
  display: none !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modal__container {
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);
}

.modal__title {
  font-size: 2.5rem;
}

.modal__paragraph {
  margin-bottom: 10px;
}

.modal__img {
  width: 90%;
  max-width: 300px;
}

.modal__close {
  text-decoration: none;
  color: #fff;
  background-color: #F26250;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
}

.modal__close:hover {
  color: #F26250;
  background-color: #fff;
}


@media (max-width:800px) {

  .modal__container {
    padding: 2em 1.5em;
  }

  .modal__title {
    font-size: 2rem;
  }
}

/*SPINNER*/

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}